.filter-plate {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid $turquoise-c;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;

  &__item {
    height: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  &__item-name {
    font-weight: 600;
  }

  &__item-text {
    font-size: 18px;
  }
}
