.icon-panel {
  width: 100%;
  height: var(--height-min);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0px 25px;
  border-bottom: 1px solid $gray-border-c;
  z-index: 1;


  @media (max-width: 700px) {
    padding: 0px 10px;
  }

  &__left-wrapper {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &__icon {
    margin-right: 15px;
    width: 29px;
    height: 33px;
    cursor: pointer;

    @media (max-width: 1000px) {
      margin-right: 13px;
      width: 26px;
      height: 30px;
    }
    @media (max-width: 900px) {
      margin-right: 11px;
      width: 22px;
      height: 24px;
    }
    @media (max-width: 700px) {
      margin-right: 9px;
      width: 20px;
      height: 22px;
    }
    @media (max-width: 500px) {
      margin-right: 7px;
      width: 18px;
      height: 20px;
    }
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &__icon-big {
    width: 35px;
    height: 35px;
    cursor: pointer;

    @media (max-width: 1000px) {
      width: 32px;
      height: 32px;
    }
    @media (max-width: 900px) {
      width: 28px;
      height: 28px;
    }
    @media (max-width: 700px) {
      width: 24px;
      height: 24px;
    }
    @media (max-width: 500px) {
      width: 21px;
      height: 21px;
    }
  }

  &__fix-icon-wrapp {
    position: relative;
    width: 35px;
    height: 35px;

    margin-right: 15px;

    @media (max-width: 1000px) {
      margin-right: 13px;
    }
    @media (max-width: 900px) {
      margin-right: 11px;
    }
    @media (max-width: 700px) {
      margin-right: 9px;
    }
    @media (max-width: 500px) {
      margin-right: 7px;
    }
  }
}
